body {
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte para o corpo da página */
    background-color: #84a98c; /* Define a cor de fundo da página */
    display: flex; /* Define o layout como flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Define a altura da página para ocupar toda a altura da janela */
    margin: 10px; /* Adiciona uma margem de 10 pixels ao redor do conteúdo */
}

.topo {
    background-color: #2a3e6a; /* Define a cor de fundo do topo da página */
    width: 100%; /* Define a largura do topo para ocupar toda a largura da página */
    height: 60px; /* Define a altura do topo */
    position: absolute; /* Define a posição do topo como absoluta para fixá-lo no topo da página */
    top: 0; /* Posiciona o topo no início da página */
}

p {
    text-align: center;
    color:#333;
}

h2 {
    color:#ffffff;
    text-align: center;
}
div {
    background-color: #ffffff;
    padding: 150px;
    border-radius: 15px;
}

.login {
   background-color: #ffffff;
   width: 400px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   display: grid;
   gap: 8px;
}

h1 {
    color:black;
    text-align: center;
}

input { 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button{
    background-color: #2b3e6a;
    padding: 9px;
    border: none;
    color: 000000;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

a {
    font-size: 12px;
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}