@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}   

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84a98c;
    
}

.container {
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3e6a;
    color: white;   
    padding: 20px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #3a4f6a;
}

.menu-lateral {
    display: flex;
    flex-direction: row;   
    flex-grow: 1; 
}
aside {
    background-color:#2a3e6a;
    color: white;
    width: 160px;
    padding: 20px 10px;
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 10px;
    cursor: pointer;
}

aside ul li:hover {
    background-color: #3a4f6a;
    border-radius: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
    ;
}



.largo {
    flex: 1 1 45%;
}

footer {
    background-color: #2a3e6a;
    color: white;
    text-align: center;
    padding: 10px;
}

div.cards {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
}


.conteudo-principal {
    padding: 20px;
    width: 90%;
    height: 85%;
    margin: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    align-items: center;
    display: grid;
    justify-content: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-right:auto;
}