
* { /* Aplica um reset básico a todos os elementos, removendo margens e preechimentos padrão, e definindo o box-shadow */  
    padding: 0; /* Remove o preenchimento padrão dos elementos */
    margin: 0; /* Remove a margem padrão dos elementos */
    box-sizing: border-box; /* Inclui o preenchimento e a margem no cálculo da largura e altura */
} 

body {  /* Define o estilo para o corpo da página */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte para o corpo da página */
    background-color: #84a98c; /* Define a cor de fundo da página */
    
}

.container { /* Define um container para o Layout da página */
    display: flex; /* Define o layout como flexbox para organizar os elementos em linha ou coluna */
    flex-direction: column; /* Define a direção dos elementos como coluna, empilhando-os verticalmente */
    height: 100vh; /* Define a altura do container para ocupar toda a altura da janela */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3e6a;
    color: white;   
    padding: 20px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #3a4f6a;
}

.menu-lateral {
    display: flex;
    flex-direction: row;   
    flex-grow: 1; 
}
aside {
    background-color:#2a3e6a;
    color: white;
    width: 160px;
    padding: 20px 10px;
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 10px;
    cursor: pointer;
}

aside ul li:hover {
    background-color: #3a4f6a;
    border-radius: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
    ;
}



.largo {
    flex: 1 1 45%;
}

footer {
    background-color: #2a3e6a;
    color: white;
    text-align: center;
    padding: 10px;
}

div.cards {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
}


.conteudo-principal {
    padding: 20px;
    width: 90%;
    height: 85%;
    margin: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    align-items: center;
    display: grid;
    justify-content: center;
}

img {
    display: block;
    margin: 0 auto;
    margin-right:auto;
}

